JSON
[
    {
        "id": "39e8b31c5888e4fe",
        "type": "server-state-changed",
        "z": "101838f8.2431c7",
        "name": "Prepare Tesla",
        "server": "bc77b220.42481",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.prepare_the_tesla",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 1140,
        "wires": [
            [
                "aa0339ed13a4e2ff"
            ]
        ]
    },
    {
        "id": "aa0339ed13a4e2ff",
        "type": "switch",
        "z": "101838f8.2431c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 1140,
        "wires": [
            [
                "631354f4e69c031a"
            ],
            []
        ]
    },
    {
        "id": "6ad68a73b65befa1",
        "type": "api-call-service",
        "z": "101838f8.2431c7",
        "name": "Turn bool off",
        "server": "bc77b220.42481",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.prepare_the_tesla",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 850,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "631354f4e69c031a",
        "type": "tesla-api",
        "z": "101838f8.2431c7",
        "teslaConfig": "56314beda0f8e93a",
        "command": "climateState",
        "name": "Get System States",
        "vehicleID": "1493105729343469",
        "autoWakeUp": true,
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "1d8c1ee9f4d6bdbb"
            ]
        ]
    },
    {
        "id": "7d929eb43e1e63a6",
        "type": "tesla-api",
        "z": "101838f8.2431c7",
        "teslaConfig": "56314beda0f8e93a",
        "command": "climateStart",
        "name": "Turn on Climate ",
        "vehicleID": "1493105729343469",
        "autoWakeUp": false,
        "x": 480,
        "y": 1220,
        "wires": [
            [
                "d5dff478a04305dd"
            ]
        ]
    },
    {
        "id": "1d8c1ee9f4d6bdbb",
        "type": "change",
        "z": "101838f8.2431c7",
        "name": "Climate On?",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.is_climate_on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "d534843334dd5f43"
            ]
        ]
    },
    {
        "id": "d5dff478a04305dd",
        "type": "delay",
        "z": "101838f8.2431c7",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 1220,
        "wires": [
            [
                "6ad68a73b65befa1"
            ]
        ]
    },
    {
        "id": "d534843334dd5f43",
        "type": "switch",
        "z": "101838f8.2431c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 1220,
        "wires": [
            [],
            [
                "cc1ea4a1d85c9409"
            ]
        ]
    },
    {
        "id": "cc1ea4a1d85c9409",
        "type": "tesla-api",
        "z": "101838f8.2431c7",
        "teslaConfig": "56314beda0f8e93a",
        "command": "doorLock",
        "name": "Lock Up",
        "vehicleID": "1493105729343469",
        "autoWakeUp": false,
        "x": 300,
        "y": 1220,
        "wires": [
            [
                "7d929eb43e1e63a6"
            ]
        ]
    },
    {
        "id": "bc77b220.42481",
        "type": "server",
        "name": "Home Assistant",
        "version": 2,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30
    },
    {
        "id": "56314beda0f8e93a",
        "type": "tesla-config",
        "email": "bob@neubaum.com"
    }
]
